/* Title */
.title {
    font-family: "Baskerville Old Face", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px 0;
    text-shadow: 1px 1px 3px #0000001A;
}

.page-description {
    font-family: "Baskerville Old Face", sans-serif;
    font-size: 20px;
    color: #555;
    text-align: center;
    margin: 20px 0;
    line-height: 1.5;
}

.eel {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px #00000019;
}

.eel h2 {
    font-family: "Baskerville Old Face", sans-serif;
    font-size: 24px;
    color: #333;
    text-align: left;
    margin: 20px;
    text-shadow: 1px 1px 3px #0000001A;
}

.eel h3 {
    font-family: "Baskerville Old Face", sans-serif;
    font-size: 20px;
    color: #333;
    text-align: left;
    margin: 20px;
    text-shadow: 1px 1px 3px #0000001A;
}

.eel p {
    font-family: "Baskerville Old Face", sans-serif;
    font-size: 18px;
    color: #555;
    text-align: left;
    margin: 20px;
    line-height: 1.5;
}

.price {
    text-align: left;
}

.ratings {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.rating-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Buttons to other pages */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    grid-column: span 2;
}

/* Filter buttons */
.filter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    grid-column: span 2;
    gap: 20px;
}

.filter-button {
    font-family: "Baskerville Old Face", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    background-color: #2e7d32;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.filter-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.tts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    grid-column: span 2;
    gap: 20px;
}