/* Text-to-speech buttons */
.tts {
    font-family: "Baskerville Old Face", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    background-color: #2e7d32;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.tts:hover {
    background-color: #218838;
    transform: scale(1.05);
}