@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

/* Container for the whole page */
.container {
    display: flex;
    position: relative;
    width: 100%;
}

/* Container for the text content */
.content {
    flex: 1;
    margin-right: 400px;
}

/* Title */
.title {
    font-family: "Baskerville Old Face", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px 0;
    text-shadow: 1px 1px 3px #0000001A;
}

/* Methods */
.method {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px #00000019;
}

.method h2 {
    font-family: "Baskerville Old Face", sans-serif;
    font-size: 24px;
    color: #333;
    text-align: left;
    margin: 20px;
    text-shadow: 1px 1px 3px #0000001A;
}

.method p {
    font-family: "Baskerville Old Face", sans-serif;
    font-size: 18px;
    color: #555;
    text-align: left;
    margin: 20px;
    line-height: 1.5;
}

/* Buttons to other pages */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

/* Map container */
.map-container {
    position: fixed;
    right: 20px;
    top: 100px;
    bottom: 80px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 999;
}